################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/.bin
/.obj
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/apphost.exe
/bin/Debug/net8.0/appsettings.Development.json
/bin/Debug/net8.0/appsettings.json
/obj/Debug/net8.0/LumakaSt.E4EE867D.Up2Date
/obj/Debug/net8.0/LumakaStickerQuestBackend.AssemblyInfo.cs
/obj/Debug/net8.0/LumakaStickerQuestBackend.AssemblyInfoInputs.cache
/obj/Debug/net8.0/LumakaStickerQuestBackend.assets.cache
/obj/Debug/net8.0/LumakaStickerQuestBackend.csproj.AssemblyReference.cache
/obj/Debug/net8.0/LumakaStickerQuestBackend.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/LumakaStickerQuestBackend.csproj.FileListAbsolute.txt
/obj/LumakaStickerQuestBackend.csproj.nuget.dgspec.json
/obj/LumakaStickerQuestBackend.csproj.nuget.g.props
/obj/LumakaStickerQuestBackend.csproj.nuget.g.targets
/bin/Debug/net8.0/LumakaStickerQuestBackend.deps.json
/bin/Debug/net8.0/LumakaStickerQuestBackend.dll
/obj/Debug/net8.0/ref/LumakaStickerQuestBackend.dll
/obj/Debug/net8.0/refint/LumakaStickerQuestBackend.dll
/obj/Debug/net8.0/LumakaStickerQuestBackend.dll
/bin/Debug/net8.0/LumakaStickerQuestBackend.exe
/obj/Debug/net8.0/LumakaStickerQuestBackend.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/LumakaStickerQuestBackend.genruntimeconfig.cache
/obj/Debug/net8.0/LumakaStickerQuestBackend.GlobalUsings.g.cs
/obj/Debug/net8.0/LumakaStickerQuestBackend.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net8.0/LumakaStickerQuestBackend.MvcApplicationPartsAssemblyInfo.cs
/bin/Debug/net8.0/LumakaStickerQuestBackend.pdb
/obj/Debug/net8.0/LumakaStickerQuestBackend.pdb
/bin/Debug/net8.0/LumakaStickerQuestBackend.runtimeconfig.json
/obj/Debug/net8.0/LumakaStickerQuestBackend.sourcelink.json
/bin/Debug/net8.0/LumakaStickerQuestBackend.staticwebassets.endpoints.json
/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/bin/Debug/net8.0/Microsoft.OpenApi.dll
/bin/Debug/net8.0/Npgsql.dll
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/obj/Debug/net8.0/rpswa.dswa.cache.json
/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/obj/Debug/net8.0/staticwebassets.build.json
/obj/Debug/net8.0/staticwebassets.build.json.cache
/obj/Debug/net8.0/swae.build.ex.cache
/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net8.0/System.IO.Pipelines.dll
/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/bin/Debug/net8.0/System.Text.Json.dll
