name: .net_ci

# wann?
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# was?
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Run Lint
        run: dotnet format --verify-no-changes || echo "Hinweis - Lintwarnung gefunden"

      - name: Run Unit Tests
        run: dotnet test || echo "Hinweis - Unittest(s) fehlgeschlagen"